aside .ant-layout {
  height: 100vh;
  background-color: #fff;
}

.sidebar-content {
  margin: 0 auto;
  padding-top: 2em;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.sidebar-content h1 {
  font-size: 24px;
}

.sidebar-information {
  padding-top: 2em;
}

.sidebar-footer {
  background-color: #fff !important;
  justify-content: center;
  top: 0;
  padding: 2vh 0;
  text-align: center;
  padding: 1vmin 0;
  display: flex;
}

.sidebar-footer img {
  width: 160px;
  margin: 0 1em;
}

.vercel {
  padding-top: 5px;
}

.user-info {
  display: flex;
  flex-direction: row;
}

.user-info-text {
  display: block;
  width: 80%;
}

.user-info img {
  float: left;
  height: 40%;
  width: 40%;
}

.user-list-card {
  cursor: pointer;
  padding: 0 24px;
  margin: 0;
  background-color: #fff;
  white-space: normal;
  height: auto !important;
}

.ant-list-item-meta-description {
  text-align: left;
}

.user-list-row {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-list-row-description {
  text-align: right;
}

.ant-collapse-content {
  max-height: 50vh;
  overflow: scroll !important;
}

@media only screen and (max-width: 800px) {
  .sidebar-footer img {
    width: 120px;
  }

  .ant-collapse-content {
    max-height: 30vh;
  }

  .ant-layout {
    max-height: 85vh;
  }
}
